
header {
    background-color: #f1f8fc;
    box-shadow: 0 1px 5px 1px #f1f8fc;

    input {
        width: 15rem;
    }

    a {
        cursor: pointer;
        font-size: 1.3rem;

        img {
            height: 6rem;
        }
    }
}