
figure {
    border-radius: 2rem;
    background-color: #f1f8fc;

    h3 {
        color: #00497c;
    }

    img {
        width: 1.2rem;
    }

    p {
        color: #384050;
        font-size: 1.2rem;
    }
}

