
<main class='container text-start mt-5'>
    <figure class='card-body p-5'>
        <h2 class='card-title mb-5'>{{ dataId.name }}</h2>
        <div class="stars">
            <div *ngFor="let star of [].constructor(5); let index = index" class="star" 
                [ngStyle]="{'background': getStarBackground(index, dataId.note)}">
            </div>
        </div>
        <p class='card-text mt-3'>{{ dataId.specialty }}</p>
        <p class='card-text'>{{ dataId.location }}</p>
        <p class='card-text'>{{ dataId.about }}</p>
        <form #emailForm="ngForm" (ngSubmit)="sendEmail(emailForm)">
            <div>
                <label class='form-label mx-3 mt-3' for="name">Nom</label>
                <input class='form-control form-control-lg' id="name" type='text' placeholder='Jesus Christ'
                    [(ngModel)]="formData.name" name="name" required />
            </div>
            <div>
                <label class='form-label mx-3 mt-3' for="email">Email</label>
                <input class='form-control form-control-lg' type='text' placeholder='objet' id="email" 
                    [(ngModel)]="formData.email" name="email" required />
            </div>
            <div>
                <label class='form-label mx-3 mt-3' for="message">Message</label>
                <textarea class='form-control form-control-lg pb-5' placeholder='message' cols='5' 
                    [(ngModel)]="formData.message" name="message" required></textarea>
            </div>
            <button class="btn btn-info my-5" type="submit">Envoyer</button>
        </form>
        <p>Site Web:  <a href="{{ dataId.website }}" class='card-text'>{{ dataId.website }}</a></p>
    </figure>
</main>