
<footer class="mt-5">
    <section class="container d-flex py-5">
        <ul>
            <li><a href="#" rel="noopener noreferrer">mentions légales</a></li>
            <li><a href="#" rel="noopener noreferrer">données personnelles</a></li>
            <li><a href="#" rel="noopener noreferrer">accessibilité</a></li>
            <li><a href="#" rel="noopener noreferrer">cookies</a></li>
        </ul>
        <ul class=" ms-auto">
            <li>101 cours Charlemagne</li>
            <li>CS 20033</li>
            <li>69269 LYON CEDEX 02</li>
            <li>France</li>
            <li>+33 (0)4 26 73 40 00</li>
        </ul>
    </section>
</footer>