
footer {
    background-color: #0074c7;

    ul {
        list-style: none;
        color: #f1f8fc;
        font-size: 1.4rem;

        li{
            cursor: pointer;
            margin: 1.2rem 0;
        }
    }
}
