
<footer class="mt-5">
    <section class="container d-flex py-5">
        <ul>
            <li [routerLink]="['/mentionsLegales']">mentions légales</li>
            <li [routerLink]="['/donneePers']">données personnelles</li>
            <li [routerLink]="['/access']">accessibilité</li>
            <li [routerLink]="['/cookies']">cookies</li>
        </ul>
        <ul class=" ms-auto">
            <li>101 cours Charlemagne<br>CS 20033</li>
            <li>69269 LYON CEDEX 02<br>France</li>
            <li>+33 (0)4 26 73 40 00</li>
        </ul>
    </section>
</footer>