
header {
    background-color: #f1f8fc;
    box-shadow: 0 1px 5px 1px #f1f8fc;

    nav {
        input {
            width: 15rem;
            height: 2.5rem;
            border-radius: 20px;
        }

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        a {
            cursor: pointer;
            font-size: 1.3rem;

            img {
                height: 6rem;
            }
        }
    }
}

@media (min-width: 1024px) {
    nav {
        flex-direction: row;
    }
}