
<main class='container text-center mt-5'>
    <article>
        <ol>
            <h2 class='mb-5'>Comment trouver mon artisan ?</h2>
            <li>Choisir la catégorie d’artisanat dans le menu</li>
            <li>Choisir un artisan</li>
            <li>Le contacter via le formulaire de contact</li>
            <li class='mb-5'>Une réponse sera apportée sous 48h</li>
        </ol>
    </article>

    <section class='row'>
        <figure class='card-body p-5' *ngFor='let data of datas' [routerLink]="['/artisanForm', data.id]">
            <h3 class='card-title mb-3'>{{ data.name }}</h3>
            <div class="stars">
                <div *ngFor="let star of [].constructor(5); let index = index" class="star" 
                    [ngStyle]="{'background': getStarBackground(index, data.note)}">
                </div>
            </div>
            <p class='card-text mt-3'>{{ data.specialty }}</p>
            <p class='card-text'>{{ data.location }}</p>
        </figure>
    </section>
</main>
