
@media (min-width: 960px) {
    figure {
        width: 20rem;
    }
}

article {
    ul {
        list-style: none;

        h2 {
            color: #00497c;
        }

        li {
            font-size: x-large;
        }
    }
}

section {
    gap: 3rem;

    figure {
        cursor: pointer;
        border-radius: 2rem;
        background-color: #f1f8fc;

        h3 {
            color: #00497c;
        }

        .stars {
            display: flex;
            justify-content: center;
            gap: 2px;

            .star {
                width: 24px;
                height: 24px;
                clip-path: polygon(
                    50% 0%, 61% 35%, 98% 35%, 
                    68% 57%, 79% 91%, 50% 70%, 
                    21% 91%, 32% 57%, 2% 35%, 
                    39% 35%
                ); /* Forme étoile */
            }
        }

        p {
            color: #384050;
        }
    }
}

.txtNoResult {
    font-size: 2.5rem;
}